@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

.container {
   width: 80%;
   height: 580px;
   margin: 0 auto;
   background-image: url(images/pandu-ior-hckbnUpcm6E-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   font-family: "Aladin", sans-serif;
   position: relative;
}

.form-container {
    background-color: #ecebeb;
    width: 60%;
    height: 580px;
    float: right;
}

.top {
    padding: 20px;
}

 .middle {
    background-color: white;
    padding-top: 20px;
 }

.form-group {
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
    padding: 10px;
}

form input {
    height: 20px;
    border: 1px solid #E5E7EB;
}

input[type="password"]:invalid {
    border: 1px solid red;
}

.bottom {
    margin: 0;
    padding: 20px;
}

button {
    background-color: #596D48;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
}

.logo {
    float: left;
    margin-top: 80px;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.651);
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    width: 200px;
    height: 200px;
}